<ion-backdrop *ngIf="backdrop"></ion-backdrop>
<ion-content>
  <div class="favouriteCount" *ngIf="isfav">
    <h3 >Favourite items</h3>
    <h3 >[ {{totalFavourite}} ]</h3>
  </div>

  <div class="noRecord" *ngIf="noRecords && serverFileArray?.length == 0">
    <h1>
      No Record Found
    </h1>
  </div>
  <ion-list>
    
    <ng-container *ngFor="let sf of serverFileArray; let i=index">
      <ion-item no-margin [id]="'currentPlayItemId'+i" lines="none">
        <ion-label>
          <h2>{{sf?sf.punjabiVersion: ''}}</h2>
        </ion-label>
        <ion-button color="myWhite" fill="clear" slot="end"
          (click)="!sf.isPlaying?cancelAllAndPlayOne(sf, i, true): stopPlayRecording()">
          <ion-spinner color="myWhite" *ngIf="sf.isDownloading" name="crescent"></ion-spinner>
          <ion-icon *ngIf="!sf.isDownloading && sf.isPlaying" name="square"></ion-icon>
          <ion-icon *ngIf="!sf.isDownloading && !sf.isPlaying" name="play"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item no-margin  lines="none">
        <ion-label *ngIf="changeui.phonetic || changeui.english">
          <p *ngIf="sf.transliteration && changeui.english" [ngClass]="changeui.fontSize">{{sf?sf.transliteration: ''}}</p>
          <p *ngIf="sf.english_ssk && changeui.phonetic" [ngClass]="changeui.phoneticFont" >{{sf?sf.english_ssk: ''}}</p>
        </ion-label>
        <ion-button fill="clear" class="no-background" slot="end" (click)="saveLocalFav(sf,i)" *ngIf="!isfav">
          <!-- <ion-icon name="heart" [color]="sf?.isFavourite?'danger':'white'"></ion-icon> -->
        <ion-icon name="heart" [ngClass]="sf?.isFavourite?'isFav':'notFav'" ></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" class="no-background" (click)="removaFavourite(i)" *ngIf="isfav">
          <ion-icon name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      <div padding-horizontal class="bottomItem">
        <ion-progress-bar [value]="getProgressVal(sf.position, sf.duration,sf)" ></ion-progress-bar>
      </div>
      <!--<p>{{ sf.position*1000-1800000 | date:'mm:ss' }}</p>
      <p *ngIf="sf.duration == -1" >&#45;&#45;:&#45;&#45;</p>
      <p *ngIf="sf.duration != -1">{{ sf.duration*1000-1800000 | date:'mm:ss' }}</p>-->
    </ng-container>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="checkFilterOrNot($event)" *ngIf="!isfav && serverFileArray?.length > 0">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="!isfav">
  <ion-fab-button color="myWhite" class="back-prev" (click)="prevplay()"
    [disabled]="isPlayingAll && testnextFileIndex > 0 ?false:true">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="myWhite" class="ion-fab-button" (click)="!isPlayingAll?playAll(): newallStop()">
    <span *ngIf="newplayAll">Stop</span>
    <span *ngIf="!newplayAll">Play all</span>
  </ion-fab-button>
  <ion-fab-button color="myWhite" class="back-prev" (click)="nextplay()"
    [disabled]="isPlayingAll && serverFileArray.length -1  != testnextFileIndex ?false:true">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>