<ion-header>
    <!-- <ion-backdrop *ngIf="backdrop"></ion-backdrop> -->
    <ion-toolbar >
      <ion-backdrop *ngIf="backdrop"></ion-backdrop>
      <ion-button slot="start" fill="clear"  (click)="filterModal()">
        <ion-icon name="funnel"></ion-icon>
        <span class="red-dot" *ngIf="getIfDot()">•</span>
      </ion-button>
      <ion-select mode="ios" interface="popover" [interfaceOptions]="{header: 'Select Ang'}" slot="start"
        placeholder="Select by" [(ngModel)]="searchOpt" style="display:none">
        <ion-select-option value="1">First Letter (Start)</ion-select-option>
        <ion-select-option value="2">First Letter (Anywhere)</ion-select-option>
        <ion-select-option value="3">Ang/Vaar</ion-select-option>
        <ion-select-option value="4">Full Word(Gurmukhi)</ion-select-option>
        <ion-select-option value="5">Full Word(English)</ion-select-option>
      </ion-select>
      <ion-item class="ion-no-padding" lines="none">
        <ion-label slot="end" class="ion-no-padding" >
          <ion-icon name="search" ></ion-icon>
        </ion-label>

        <ion-input type="text" placeholder="Search" debounce="500" [(ngModel)]="searchString" (ngModelChange)="consoleData()"></ion-input>
      </ion-item>
      <ion-searchbar animated placeholder="Search" debounce="500" [(ngModel)]="searchString" (ngModelChange)="consoleData()"></ion-searchbar>

    </ion-toolbar>
  </ion-header>

<ion-backdrop *ngIf="backdrop"></ion-backdrop>
<ion-content>
  <app-list [isfav]="favourite" [filterData]="filterData" [searchString]="searchString" [content]="contentId"></app-list>
</ion-content>
