<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="dark" (click)="openFirst()">
      <img src="../../../assets/icon/filter.svg" alt="filter">
    </ion-button>
    <ion-select mode="ios" interface="popover" [interfaceOptions]="{header: 'Select Ang'}" slot="start" placeholder="Select by" [(ngModel)]="searchOpt" >
      <ion-select-option value="1">First Letter (Start)</ion-select-option>
      <ion-select-option value="2">First Letter (Anywhere)</ion-select-option>
      <ion-select-option value="3">Ang/Vaar</ion-select-option>
      <ion-select-option value="4">Full Word(Gurmukhi)</ion-select-option>
      <ion-select-option value="5">Full Word(English)</ion-select-option>
    </ion-select> 
    <ion-item class="ion-no-padding">
      <ion-label slot="end" class="ion-no-padding" (click)="searchWord()">
        <ion-icon name="search" color="white"></ion-icon>
      </ion-label>
      <ion-input type="text"  placeholder="Search"  debounce="500" (ionChange)="searchWord($event)"></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list >
    <ng-container *ngFor="let sf of listItemFromDb; let i=index">
      <ion-item class="ion-no-margin" [id]="'currentPlayItemId'+i">
        <ion-label><h2>{{sf.sggs_darpan}}</h2></ion-label>
          <ion-button fill="clear" slot="end" (click)="!sf.isPlaying?plyAll1(sf, i, true): stopPlaying(sf)">
          <ion-spinner color="myWhite" *ngIf="sf.isDownloading" name="crescent"></ion-spinner>
          <ion-icon *ngIf="!sf.isDownloading && sf.isPlaying" name="square"></ion-icon>
          <ion-icon *ngIf="!sf.isDownloading && !sf.isPlaying" name="play"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item class="bottomItem ion-no-margin">
        <ion-label>
          <p [ngClass]="changeui.fontSize">{{sf?.transliteration}}</p>
          <p [ngClass]="changeui.fontSize">{{sf?.english_ssk}}</p>
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="saveLocalFav(sf)">
          <ion-icon name="heart" [color]="sf?.isFavourite?'danger':'white'"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="myWhite" class="back-prev" (click)="prevplaynn()"  [ngStyle]="{'visibility': (isPlayingAll && (indexx > 0)) ? 'visible' : 'hidden' }">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="myWhite" class="ion-fab-button" (click)="!isPlayingAll?plyAll1(): stopAll()">
  <!-- <ion-fab-button color="myWhite" class="ion-fab-button" (click)="getShabad()"> -->

 

    <span *ngIf="isPlayingAll" >Stop</span>
    <span *ngIf="!isPlayingAll">Play all</span>
  </ion-fab-button>
  <ion-fab-button color="myWhite" class="back-prev" (click)="nextplaynn()"  [ngStyle]="{'visibility': (isPlayingAll && (listItemFromDb.length -1  != indexx)) ? 'visible' : 'hidden' }">
    <ion-icon name="arrow-forward" ></ion-icon>
  
  </ion-fab-button>
</ion-fab>


<ion-menu side="end" menuId="first" swipe-gesture='false' contentId="main">
  
  <ion-content>
    <h4>Filter</h4>

   <ion-item>
      <ion-label position="stacked" class="smallMarginBottom">Writer</ion-label>
      <div  class="filter-select" style="width: 100%;
      height: 35px;
      display: flex;
      align-items: center;" (click)="closeMenu()">
        <label style="padding-left:8px">Shri Guru Granth Sahib Ji</label>
      </div>
    </ion-item>


    <ion-item >
      <ion-label position="stacked" class="smallMarginBottom">Raag</ion-label>
      <div  class="filter-select selectOpt" >
        <ion-button (click)="presentActionSheet()"  expand="full">
        <div class="inner-div">
        <label>{{raagSelect ? raagSelect : 'All'}}</label>
        <ion-icon name="caret-down-outline"></ion-icon>
      </div>
        </ion-button>
      </div>
    </ion-item>
 
    <ion-button (click)="closeMenu()">Apply</ion-button>
  </ion-content>
</ion-menu>

