<ion-header>
  <ion-toolbar>
    <ion-button (click)="backToReadTile()" *ngIf="listShow" slot="start" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>
      <label *ngIf="!listShow" >
        <p class="p0">School of</p>
        <p class="p1">GURUBANI</p>
      </label>
      <label *ngIf="listShow" >
        <p class="p1">{{sahibName}}</p>
      </label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!listShow">
    <ion-card *ngFor="let item of tilesArray">
      <ion-item detail="true" (click)="readBook(item)">
        <label>
          <p class="pnb-word">{{item.punjabiWord}}</p>
          <p class="eng-word">{{item.englishWord}}</p>
        </label>
      </ion-item>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="listShow">

    <ion-list *ngIf="!serverFileArray?.length">
      <ion-item no-margin lines="none" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
        <ion-label>
        <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="serverFileArray?.length">
      <ng-container *ngFor="let sf of serverFileArray; let i=index">
        <ion-item no-margin [id]="'currentPlayItemId'+i" lines="none">
          <ion-label>
            <h2>{{sf?sf.punjabiVersion: ''}}</h2>
          </ion-label>
          <ion-button color="myWhite" fill="clear" slot="end"
          (click)="!sf.isPlaying?download(sf, i, true): stopPlayRecording()">
          <ion-spinner color="myWhite" *ngIf="sf.isDownloading" name="crescent"></ion-spinner>
          <ion-icon *ngIf="!sf.isDownloading && sf.isPlaying" name="square"></ion-icon>
          <ion-icon *ngIf="!sf.isDownloading && !sf.isPlaying" name="play"></ion-icon>
        </ion-button>
        </ion-item>
        
        <ion-item no-margin class="bottomItem">
          <ion-label>
            <p *ngIf="sf.transliteration && changeui.english" [ngClass]="changeui.fontSize">
              {{sf?sf.transliteration: ''}}</p>
            <p *ngIf="sf.english_ssk && changeui.phonetic" [ngClass]="changeui.phoneticFont">{{sf?sf.english_ssk: ''}}
            </p>
          </ion-label>
        </ion-item>
        <div padding-horizontal>
          <ion-progress-bar [value]="getProgressVal(sf.position, sf.duration)"></ion-progress-bar>
        </div>
      </ng-container>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-list>

  </ng-container>

</ion-content>