<ion-header>
  <ion-toolbar>
    <ion-title>
      <label>
        <!-- <p class="p0">School of</p> -->
        <!-- <p class="p1">GURUBANI</p> -->
        <p class="p1">Gurbani School</p>
      </label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <div>
      <label>Screen mode</label>
      <ion-segment  mode="ios" [value]='dd' [(ngModel)]="dd" (ngModelChange)="change()" >
        <ion-segment-button [value]="1"  mode="ios">
          <div><ion-icon name="sunny"></ion-icon> <ion-label>Day</ion-label></div>
        </ion-segment-button>
        <ion-segment-button [value]="0"  mode="ios">
          <div><ion-icon name="moon"></ion-icon> <ion-label>Night</ion-label></div>
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-item>
  <ion-item class="toggle-switch" lines="none">
    <ion-label slot="start">Gurmukhi</ion-label>
  </ion-item>
  <ion-item>
    <div>
      <label>Font Size</label>
      <ion-range min="12" max="24" step="4" value="12" [(ngModel)]="gurmukhiFont" (ngModelChange)="gurmukhiFontChange()" snaps color="dark">
        <ion-label slot="start" class="small-font">A</ion-label>
        <ion-label slot="end" class="big-font">A</ion-label>
      </ion-range>
    </div>
  </ion-item>

  <ion-item class="toggle-switch" [lines]="changeui.phonetic ? 'none' : 'full'">
    <ion-label slot="start">Phonetic Translation</ion-label>
    <ion-toggle  mode="ios" slot="end" [(ngModel)]="changeui.phonetic"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="changeui.phonetic">
    <div>
      <label>Font Size</label>
      <ion-range min="12" max="24" step="4" value="12" [(ngModel)]="phoneticFont" (ngModelChange)="phoneticchangeFont()" snaps color="dark">
        <ion-label slot="start" class="small-font">A</ion-label>
        <ion-label slot="end" class="big-font">A</ion-label>
      </ion-range>
    </div>
  </ion-item>
  <ion-item class="toggle-switch" [lines]="changeui.english ? 'none' : 'full'">
    <ion-label slot="start">English Translation</ion-label>
    <ion-toggle  mode="ios" slot="end"  [(ngModel)]="changeui.english" ></ion-toggle>
  </ion-item>
  <ion-item *ngIf="changeui.english">
    <div>
      <label>Font Size</label>
      <ion-range min="12" max="24" step="4" value="12" [(ngModel)]="font" (ngModelChange)="changeFont()" snaps color="dark">
        <ion-label slot="start" class="small-font">A</ion-label>
        <ion-label slot="end" class="big-font">A</ion-label>
      </ion-range>
    </div>
  </ion-item>
</ion-content>

