<ion-header>
  <ion-toolbar>
    <ion-title>
      <label>
        <p class="p0">School of</p>
        <p class="p1">GURUBANI</p>
      </label>
    </ion-title>
    <ion-label slot="end" class="reset">
      <!-- Reset -->
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
      <div>
      <label>Screen mode</label>
      <ion-segment  mode="ios" [value]='dd' [(ngModel)]="dd" (ngModelChange)="change()" >
        <ion-segment-button [value]="1"  mode="ios">
          <div><ion-icon name="sunny"></ion-icon> <ion-label>Day</ion-label></div>
        </ion-segment-button>
        <ion-segment-button [value]="0"  mode="ios">
          <div><ion-icon name="moon"></ion-icon> <ion-label>Night</ion-label></div>
        </ion-segment-button>
      </ion-segment>
    </div>
    </ion-item>
    <div class="toggle-switch">
      <label>Phonetic Translation By</label>
      <ion-item lines="none">
        <ion-label slot="start">Dr. Sant Singh Khalsa</ion-label>
        <ion-toggle  mode="ios" slot="end" [(ngModel)]="changeui.phonetic"></ion-toggle>
      </ion-item>
    </div>
    <ion-item *ngIf="changeui.phonetic">
      <div>
        <label>Font Size</label>
      <ion-range min="12" max="24" step="4" value="12" [(ngModel)]="phoneticFont" (ngModelChange)="phoneticchangeFont()" snaps color="dark">
        <ion-label slot="start" class="small-font">A</ion-label>
        <ion-label slot="end" class="big-font">A</ion-label>
      </ion-range>
      </div>
    </ion-item>
    <div class="toggle-switch">
      <label >English Translation By</label>
      <ion-item lines="none">
        <ion-label slot="start">Dr. Sant Singh Khalsa</ion-label>
        <ion-toggle  mode="ios" slot="end"  [(ngModel)]="changeui.english" ></ion-toggle>
      </ion-item>
    </div>
    <ion-item *ngIf="changeui.english">
      <div>
        <label>Font Size</label>
      <ion-range min="12" max="24" step="4" value="12" [(ngModel)]="font" (ngModelChange)="changeFont()" snaps color="dark">
        <ion-label slot="start" class="small-font">A</ion-label>
        <ion-label slot="end" class="big-font">A</ion-label>
      </ion-range>
      </div>
    </ion-item>

   

</ion-content>

<!-- 
<ion-header>
  <ion-toolbar>
    <ion-title>Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="getData()">Get Data</ion-button>
  <ion-button (click)="remove()">remove Data</ion-button>

  <ion-list lines="full">
  </ion-list>

    <ion-list>
    <ion-list-header>
      List 
    </ion-list-header>

    <div *ngFor="let data of Data">
      <h5>{{data?data.faridkot_teeka : ''}}</h5>
      <p>{{data?data.sggs_darpan : ''}}</p>
    </div>
    
  </ion-list>
</ion-content> -->